<a href="https://colab.research.google.com/github/gujetee01/Board-Infinity/blob/master/darshan_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import math as m

In [0]:
print("Enter radius of circle to calculate area")
a=int(input())
print(type(a))
area=float(m.pi*a*a)
print(area)

Enter radius of circle to calculate area
2
<class 'int'>
12.566370614359172

In [0]:
first=input('First Name')
last = input("last name")

print(first[::-1]+" "+last[::-1])

First Namenilesh
last nameharesh
hselin hserah

In [0]:
number=int(input("Enter a number"))

if number%3==0:
  print("This number is divisible by 3")
else:
  print("This number is not divisible by 3")

Enter a number4
This number is not divisible by 3

In [0]:
mylist=[12, 4.25, 89, 3.02, -65.23, -7.2, 6.3]

print("adding the list number" + " "+ str(m.fsum(mylist)))

adding the list number 42.13999999999999

In [0]:
x=10
y=-23
print("sign change" + " " + str(m.copysign(x,y)))

sign change -10.0

In [0]:
print("absolute value" + " " + str(m.fabs(-23)))

absolute value 23.0

In [0]:
print('The value of 5^e: ' + str(m.exp(5)))

The value of 5^e: 148.4131591025766

In [0]:
print('The value of Sin(60 degree): ' + str(m.sin(m.radians(60))))

The value of Sin(60 degree): 0.8660254037844386

In [2]:
a=(2**2)+(4**2) #5th problem
print(a)

20

In [48]:
#6th problem
def sqr(nu):
  #converting from string to integer digit by digit
  n1=int(n[0])
  n2=int(n[1])
  n3=int(n[2])
  n4=int(n[3])
  #calculating the problem statement
  add=(n1*10+n2)**2+(n3*10+n4)**2
  print(add)
  




nu=input("enter 4 digit number") # taking input from client
sqr(nu) # for function call

enter 4 digit number1234
1300

In [55]:
#7th answer

def prime(num):
  if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")
           break
   else:
      print("number is prime")
  else:
             print("number is prime")



num = int(input("Enter a number: "))  
prime(num)

Enter a number: 59
number is prime

In [57]:
#8th answer

ch=input("enter a character to check vowels")

if (ch=="a") or (ch=="e") or (ch=="i") or (ch=="o") or (ch=="n"):
  print(ch ,"it is a vowel")
elif (ch=="A") or (ch=="E") or (ch=="I") or (ch=="O") or (ch=="N"): 
  print(ch ,"it is a vowel")
else:
  print(ch,"it is not a vowel")

enter a character to check vowelsr
r it is not a vowel

In [60]:
#9th answer
lst=(input("enter any number"))

lst1=int(lst[-1])

cube=lst1**3
print(cube)

enter any number1233849375
125

In [84]:
#10th answer
my = [12,23,43,12,23,45,65,76,45,87]
output = []
for x in my:
    if x not in output:
        output.append(x)
print(output)
print(len(output))

[12, 23, 43, 45, 65, 76, 87]
7