<a href="https://colab.research.google.com/github/gujetee01/Board-Infinity/blob/master/Lecture_2_Home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
age=int(input("Enter your Age=:" ))
if age > 18:
  print(" He is Adult")
else:
  print("He is Teenager")

Enter your Age=:18
He is Teenager

In [25]:

income = int(input("enter Monthly Income : "))
loan=input("have any Ongoing loan mention in yes or no  ")



if loan == "yes" or loan == "no" or loan == "Yes" or loan == "No":
    if income >= 100000:
        if loan == "no":
           print("loan is approved")
        else :
           print("loan is rejected")
    else:
        print("loan is rejected")
        
else:
  print("kindly input in yes or no")

enter Monthly Income : 200000
have any Ongoing loan mention in yes or no  yes
loan is rejected

In [31]:
sex=input("enter your sex male Or female ")
if sex=="male" or sex=="female" or sex=="Female" or sex=="Male" or sex=="MALE" or sex=="FEMALE":
  if(sex=="male"):
    print("your Male")
  else:
    print("your Female")  
else:
  print("kindly Enter male or female")

enter your sex male Or female female
your Female

In [35]:

count=0
num=[2,12,34,56,75,43,23,76,87,98]
for i in num:
  count=count+1
  print( count,"number is", i)

1 number is 2
2 number is 12
3 number is 34
4 number is 56
5 number is 75
6 number is 43
7 number is 23
8 number is 76
9 number is 87
10 number is 98

In [39]:
num=[2,12,34,56,75,43,23,76,87,98]
for i in num:
   if i%2==0:
     print(i,"number is even")

2 number is even
12 number is even
34 number is even
56 number is even
76 number is even
98 number is even

In [59]:
#name={1:"nilesh",2:"haresh",3:"mukesh",4:"ankita",5:"mahendra"}
#print(name)
#age={10:27,6:30,7:27,8:28,9:32}
#print(age)
#gender={11:"male",12:"male",13:"male",14:"Female",15:"male"}
#print(gender)
#favourite_food={21:"tomato",22:"cucumber",23:"chicken",24:"chinese",25:"maggi"}
#print(favourite_food)

myself={1:"name",2:"age",3:"gender",4:"favourite_food"}
count=0
for i in myself.keys():
  print(i)

1
2
3
4

In [60]:
myself={1:"name",2:"age",3:"gender",4:"favourite_food"}
count=0
for i in myself.values():
  print(i)

name
age
gender
favourite_food

In [66]:
def name():
  name=input("write your personal name ")
  return(name)


print(name())

write your personal name nilesh gujetee
nilesh gujetee

In [84]:
def called(): # function called
  n=int(input("enter number of values you want to enter")) # it takes inputs for how many items you want in dictionary
  keyva={} # blank dictionary to tell systems that it is a dictionary

  for i in range(n):
    k=input("input the index value you want to refer")
    v=input("input the values ")
    keyva[k]=v
  print(keyva.keys())


#calling function
called()

enter number of values you want to enter3
input the index value you want to refernilesh
input the values gujetee
input the index value you want to referharesh
input the values gujetee
input the index value you want to refermukesh
input the values amballa
dict_keys(['nilesh', 'haresh ', 'mukesh'])

In [126]:
def odd():

  n=10
  
  l=[]
  


  for i in range(n):
        numb=int(input("enter a value"))
        l.append(numb)
  for i in range(n):
    if l[i]%2!=0:
      print(l[i], " it is odd")




odd()

enter a value21
enter a value54
enter a value65
enter a value76
enter a value87
enter a value98
enter a value87
enter a value54
enter a value43
enter a value43
21  it is odd
65  it is odd
87  it is odd
87  it is odd
43  it is odd
43  it is odd

In [135]:
i = 10
b=True
f=10.22
s="nilesh"
s1="10"
print(type(i))
print(type(b))
print(type(f))
print(type(s))
print(type(s1))
#1. integer to float
print(type(float(i)))
#print(type(int(s))) cant be converted because of string of character but a value can be converted as seen below
#2. string to integer
print(type(int(s1)))
#3. integer to string
#print(type(str(i)))
#4. bool to string
print(type(str(b)))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'str'>

In [139]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.18.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [0]:
from sklearn.naive_bayes import GaussianNB

In [0]:
from sklearn import tree

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
from sklearn.cluster import KMeans

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
from sklearn.metrics import classification_report

In [0]:
from sklearn.metrics import accuracy_score